
/*------logo-------*/
.logo {
  height: 35px;
}

.logo > a{
  display: block;
  height: 100%;
}

.logo > a > img {
  width: auto;
  max-height: 100%;
  vertical-align: middle;
}
/*------menu-------*/

.row {
  height: 100%;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
}

.navbar-nav li {
  display: block;
  position: relative;
}

.navbar-nav > li {
  padding-top: 10px;  
  padding-bottom: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  padding: 15px;
}

.navbar-nav > li > a {
  color: #222222;
}

.navbar-nav > li:hover > a {
  color: #ec1d25;
  text-decoration: none;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
